In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv("Credit Card Default II (balance).csv")

In [3]:
#remove outlier
import numpy as np
from scipy import stats
z = stats.zscore(df.astype(np.float)) #zscore conversion need float
z = np.abs(z) #convert all to positive because the parity is not important
f = (z < 3).all(axis=1) #3 is your choice, axis =1 means by columns, f is a flag

df = df[f]

C:\Users\kebom\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

In [4]:
df.head(17)

         income        age         loan  default
0   66155.92510  59.017015  8106.532131        0
1   34415.15397  48.117153  6564.745018        0
2   57317.17006  63.108049  8020.953296        0
3   42709.53420  45.751972  6103.642260        0
4   66952.68885  18.584336  8770.099235        1
5   24904.06414  57.471607    15.498598        0
6   48430.35961  26.809132  5722.581981        0
7   24500.14198  32.897548  2971.003310        1
8   40654.89254  55.496853  4755.825280        0
9   25075.87277  39.776378  1409.230371        0
10  64131.41537  25.679575  4351.028971        0
11  59436.84712  60.471936  9254.244538        0
12  61050.34608  26.355044  5893.264659        0
13  27267.99546  61.576776  4759.787581        0
14  63061.96017  39.201553  1850.369377        0
16  43548.65471  39.574530  3935.544453        0
17  43378.17519  60.848318  3277.737553        0

In [5]:
X = df.loc[:,["income", "age", "loan"]]
Y = df.loc[:,["default"]]

In [6]:
#No normalisation as random forest does not require normalisation
#split, train, test and predict
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)
print(X_train, X_test, Y_train, Y_test )

            income        age          loan
2155  31072.395398  33.781473   4664.088571
1959  35108.557950  40.743413   4002.991276
2956  37996.649505  19.092861   4627.731331
2865  20343.438476  27.633214   3328.549896
716   51894.540100  59.003768   6579.534007
...            ...        ...           ...
2151  65962.435617  27.968317  13109.404007
2822  33858.529001  30.324403   5724.154681
1041  58176.154930  52.175760   9852.141110
1229  53284.119680  32.143215    849.545184
2161  38690.723835  20.186333   5859.091155

[2397 rows x 3 columns]             income        age          loan
2621  29467.560224  22.785756   3708.338501
2702  20793.034164  28.137397   3084.499904
1609  61922.774640  24.808657   1933.082920
197   54619.947200  52.424422  10780.271880
207   49589.153720  42.775256   2627.405488
...            ...        ...           ...
1431  64029.543480  36.157751   1644.339177
1262  34476.706380  23.350987    898.133907
2148  63303.480220  23.442760  11187.647424
1723  60974.587140  33.895749   6165.658820
2485  28301.594445  25.941860   4147.230818

[1028 rows x 3 columns]       default
2155        1
1959        0
2956        1
2865        1
716         0
...       ...
2151        1
2822        1
1041        0
1229        0
2161        1

[2397 rows x 1 columns]       default
2621        1
2702        1
1609        0
197         0
207         0
...       ...
1431        0
1262        0
2148        1
1723        0
2485        1

[1028 rows x 1 columns]

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, Y_train)
pred = model.predict(X_train)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_train, pred)
print(cm)

accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))

print(accuracy)

pred = model.predict(X_test)
cm = confusion_matrix(Y_test, pred)
print(cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))

print(accuracy)

C:\Users\kebom\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[[1207    0]
 [   0 1190]]
1.0
[[499   5]
 [  0 524]]
0.995136186770428

In [8]:
import joblib 
joblib.dump(model,"HerokuRandomForestDefault")

['HerokuRandomForestDefault']