In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv("Credit Card Default II (balance).csv")

In [3]:
#remove outlier
import numpy as np
from scipy import stats
z = stats.zscore(df.astype(np.float)) #zscore conversion need float
z = np.abs(z) #convert all to positive because the parity is not important
f = (z < 3).all(axis=1) #3 is your choice, axis =1 means by columns, f is a flag

df = df[f]

C:\Users\kebom\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

In [4]:
df.head(17)

         income        age         loan  default
0   66155.92510  59.017015  8106.532131        0
1   34415.15397  48.117153  6564.745018        0
2   57317.17006  63.108049  8020.953296        0
3   42709.53420  45.751972  6103.642260        0
4   66952.68885  18.584336  8770.099235        1
5   24904.06414  57.471607    15.498598        0
6   48430.35961  26.809132  5722.581981        0
7   24500.14198  32.897548  2971.003310        1
8   40654.89254  55.496853  4755.825280        0
9   25075.87277  39.776378  1409.230371        0
10  64131.41537  25.679575  4351.028971        0
11  59436.84712  60.471936  9254.244538        0
12  61050.34608  26.355044  5893.264659        0
13  27267.99546  61.576776  4759.787581        0
14  63061.96017  39.201553  1850.369377        0
16  43548.65471  39.574530  3935.544453        0
17  43378.17519  60.848318  3277.737553        0

In [5]:
X = df.loc[:,["income", "age", "loan"]]
Y = df.loc[:,["default"]]

In [6]:
#normalization
from scipy import stats
import numpy as np
pd.set_option('display.max_rows', 10)
for i in X.columns:
    X[i]=stats.zscore(X[i].astype(np.float))
print(X)

        income       age      loan
0     1.457403  1.909165  0.792201
1    -0.743092  1.047710  0.306524
2     0.844638  2.232494  0.765243
3    -0.168066  0.860782  0.161272
4     1.512641 -1.286373  1.001231
...        ...       ...       ...
3423  1.093247 -1.021644  1.504295
3424  1.185622 -0.776711  0.785072
3425 -1.354369 -0.672598 -0.561212
3426  0.210089 -0.926167  0.295469
3427 -0.837331 -0.677398 -0.075549

[3425 rows x 3 columns]

C:\Users\kebom\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [7]:
#split, train, test and predict
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)
print(X_train, X_test, Y_train, Y_test )

        income       age      loan
2630 -1.733414 -0.704767 -0.945874
1377 -0.758551 -0.542434 -0.112780
3173  0.504698 -0.735567  1.376754
2206  0.146710 -0.822161  0.575682
2887  0.494470 -0.057724  1.438482
...        ...       ...       ...
2429  0.626793 -0.746258  1.556502
632   1.279194  1.144351 -1.259001
391   0.752939 -0.294113 -1.547031
3409  1.093126 -0.396237  1.510563
325  -0.616411  0.359985  0.030654

[2397 rows x 3 columns]         income       age      loan
1346 -0.397982  1.413013 -0.055640
610   0.292455  1.792602 -0.702127
95    0.587063 -1.155471  1.263091
1888 -0.148298  0.123686 -0.358436
874  -1.357361  0.627233 -0.428970
...        ...       ...       ...
883  -0.418163 -0.439408 -0.438173
2185  0.768232 -0.911787  0.566396
1279  1.002142 -1.126297 -0.441003
2012 -0.786013 -0.266842  0.063950
1264 -1.435608 -0.012978 -1.501917

[1028 rows x 3 columns]       default
2630        1
1377        1
3173        1
2206        1
2887        1
...       ...
2429        1
632         0
391         0
3409        1
325         0

[2397 rows x 1 columns]       default
1346        0
610         0
95          1
1888        0
874         0
...       ...
883         0
2185        1
1279        0
2012        1
1264        0

[1028 rows x 1 columns]

In [8]:
# Setting the seed to 10
import numpy as np
np.random.seed(10)

In [9]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, Y_train)
pred = model.predict(X_train)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_train, pred)
print(cm)

accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))

print(accuracy)

pred = model.predict(X_test)
cm = confusion_matrix(Y_test, pred)
print(cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))

print(accuracy)

C:\Users\kebom\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[[1213    0]
 [   0 1184]]
1.0
[[491   7]
 [  1 529]]
0.9922178988326849

In [10]:
import joblib 
joblib.dump(model,"HerokuRandomForestDefault")

['HerokuRandomForestDefault']